@tailwind base;
@tailwind components;
@tailwind utilities;
/* element selectors that apply to everything go here */
@layer base {
	/* body {
		background-image: url("/starry-night-sky.png");
		background: no-repeat cover;
	} */
	body {
		background-image: linear-gradient(
			to right top,
			rgb(136, 19, 55),
			rgb(88, 28, 135),
			rgb(8, 145, 178)
		);
		/* background: gradient-to-t from-blue-700 via-blue-800 to-gray-900; */
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}
	h2 {
		@apply text-2xl sm:text-3xl md:text-4xl;
	}
	li {
		@apply cursor-pointer;
	}
	button {
		@apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#415A77] to-[#778DA9];
	}
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
#navbar {
	z-index: 9999;
}
/* #main {
	background-image: url("/starry-night-sky.png");
	background: cover;
} */
.skills,
.projects {
	background-color: rgba(226, 232, 240, 0.2);
}
#projects,
#skills,
#about {
	background-color: rgba(226, 232, 240, 0.25);
}
